.numero-passo {
	color: #00008B; /* DarkBlue */
	background-color: #00CED1; /* DarkTurquoise */
	background-size: 300px 300px;
	font-family: Andale Mono, monospace; 
}

.nome-passo {
	font-size: 20px;
}