img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

iframe {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

h1, h2 {
	font-family: Andale Mono, monospace; 
}

a:link {
	color: DarkBlue;
}

a:visited {
	color: DarkSlateGray;
}

a:hover {
	color: DarkTurquoise;
}

a:active  {
	color: DimGray;
}

a[href^="http"]:before {
	content: " ";
	height: 20px;
	width: 20px;
	display: inline-block;
	background-image: url(../img/globo.png);
	background-repeat: no-repeat;
}

.apagadinho {
	opacity: 0.7;
}

body {
	padding: 50px 100px 50px 100px;
	background-color: #ccccff; /*DarkBlue - 90% */
	text-align: justify;
}

strong {
	color: BlueViolet;
}